.ses_logo {
  position: relative;
  align-items: center;
  align-content: center; 
  display: flex;
  flex-direction: column;
}

.ses {
  position: relative;
  width: 90%; 
  font-family: "Akshar";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 108.97%;
  display: flex;
  color: #182a88;
  text-align: center; 
}
