.ses_logo {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 5.71%;
  bottom: 17.25%;
}

.ses {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 77.04%;
  bottom: 0%;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 108.97%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #182a88;
}
